{
    default_sni 46.102.157.230
}

https://46.102.157.230, https://46-102-157-230.sslip.io {
    tls {
        issuer acme {
            dir https://acme-v02.api.letsencrypt.org/directory
            profile shortlived
        }
    }
    request_body {
        max_size 20MB
    }
    reverse_proxy store:8090
}
