https://46.102.157.230 {
    tls {
        issuer acme {
            dir https://acme-v02.api.letsencrypt.org/directory
            profile shortlived
        }
    }
    request_body {
        max_size 2MB
    }
    reverse_proxy store:8090
}
